@media only screen and (min-device-width: 481px) and (max-device-width: 820px)  {
   header h1{
     font-size: 45px;
     text-align: center;
     color: #190ec1;
   }

  .navegacion{
    font-size: 50px;
  }

}
